.card {
}
.cb {
  width: 33% !important;

  float: left;
  display: block !important;

  text-align: center;
  height: 33% !important;
}
img {
  height: 307px;
}
.cart {
  width: 33% !important;

  float: left;
  display: block !important;

  text-align: center;
  height: 33% !important;
}
